@model Web.Controllers.ProfileViewModel
@{Layout = "~/Views/Shared/_Layout.cshtml";}

<div class="full-post">

    @if (User.Identity.IsAuthenticated)
    {
        string c1 = Model.Action == "comments" ? "bold" : "";
        string c3 = Model.Action == "likedposts" ? "bold" : "";
        string c4 = Model.Action == "editprofile" ? "bold" : "";

        <div class="account-menu-wrapper">
            <a asp-controller="Account" asp-action="Profile" asp-route-param="comments"><div class="@c1">Комментарии</div></a>
            <a asp-controller="Account" asp-action="Profile" asp-route-param="likedposts"><div class="@c3">Понравившееся</div></a>
            <a asp-controller="Account" asp-action="Profile" asp-route-param="editprofile"><div class="@c4">Профиль</div></a>
        </div>

        <div style="margin-top:20px;">

            @if (Model.Action == "comments")
            {
                foreach (var comment in Model.Comments)
                {
                    <div style="margin-bottom:20px;">
                        <div><b>@comment.PostTitle</b></div>
                        <div style="font-size:13px; color:#808080;">@comment.Created</div>
                        <div>
                            @comment.Text
                        </div>
                        <div style="color:red; font-size:13px; font-weight:bold;">удалить</div>
                    </div>
                }
            }
            else if (Model.Action == "likedposts")
            {
                foreach (var post in Model.Posts)
                {
                    string imagePath = $"https://storage.googleapis.com/youit/{post.Url}/mini.png";
                    string postUrl = "/home/post?=" + post.Url;

                    <a href="@postUrl">
                        <img src="@imagePath" style="float:left; margin-right:15px; margin-bottom:40px;" />
                        <span style="font-size:22px;">@post.Title</span><br />
                        @Html.Raw(post.TextPreview)
                    </a>
                    <div style="clear:both;"></div>
                }
            }
            else if (Model.Action == "editprofile")
            {
                <div id="profile-view">
                    <form class="pure-form">
                        <fieldset>
                            <legend>Ваши данные</legend>
                            <p>
                                <input type="text" placeholder="@User.Identity.Name" />
                            </p>

                            <p>
                                <input type="file" id="photoInput" />
                            </p>

                            <p>
                                <button type="submit" class="pure-button pure-button-active">Сохранить</button>
                            </p>
                        </fieldset>
                    </form>
                    <div id="photoBox">
                        <i class="fas fa-portrait" style="font-size:64px; color:#99afbe;"></i>
                        <img id="blah" src="#" alt="your image" />
                    </div>
                </div>

                <script>
                    $("#photoInput").change( (data) => {
                        var input = data.target;
                        if (input.files && input.files[0]) {
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                $('#blah').attr('src', e.target.result);
                            }
                            reader.readAsDataURL(input.files[0]);
                        }
                    });

                </script>

            }
        </div>
    }

</div>