@model Web.Controllers.ProfileViewModel
@{Layout = "~/Views/Shared/_Layout.cshtml";}

<div class="full-post">

    @if (User.Identity.IsAuthenticated)
    {
        string c1 = Model.Action == "comments" ? "bold" : "";
        string c3 = Model.Action == "likedposts" ? "bold" : "";
        string c4 = Model.Action == "editprofile" ? "bold" : "";

        <div class="account-menu-wrapper">
            <a asp-controller="Account" asp-action="Profile" asp-route-param="comments"><div class="@c1">Комментарии</div></a>
            <a asp-controller="Account" asp-action="Profile" asp-route-param="likedposts"><div class="@c3">Понравившееся</div></a>
            <a asp-controller="Account" asp-action="Profile" asp-route-param="editprofile"><div class="@c4">Профиль</div></a>
        </div>

        <div style="margin-top:20px;">

            @if (Model.Action == "comments")
            {
                <div id="profile-comments">

                    <!-- ko foreach: comments -->
                    <div style="margin-bottom:50px;">
                        <div><h3 data-bind="text: postTitle"></h3></div>
                        <p style="font-size:13px; color:#808080;">Добавлено <span data-bind="text: created"></span> </p>
                        <p data-bind="text: text"></p>

                        <button class="button-error pure-button" data-bind="click: $parent.delete">Удалить комментарий</button>
                    </div>
                    <!-- /ko -->

                </div>


                <script>
                    function ProfileCommentsViewModel() {
                        let self = this;
                        self.comments = ko.observableArray([]);

                        self.load = function () {
                            $.ajax({
                                url: '/account/getprofilecomments',
                                type: 'GET',
                                success: (comments) => {
                                    for (let comment of comments) {
                                        self.comments.push(comment);
                                    }
                                },
                                error: (error) => {

                                }
                            });
                        };

                        self.delete = function (comment) {
                            if (confirm("Вы действительно хотите удалить комментарий?")) {
                                const commentId = comment.commentId;
                                const isTopLevel = comment.parentCommentId === null;
                                $.ajax({
                                    url: '/account/deletecomment',
                                    type: 'POST',
                                    contentType: "application/json",
                                    data: JSON.stringify({
                                        CommentId: commentId,
                                        TopLevel: isTopLevel
                                    }),
                                    success: (comments) => {
                                        const comment = self.comments().find(p => p.commentId === commentId);
                                        self.comments.remove(comment);
                                    },
                                    error: (error) => {

                                    }
                                });
                            }
                        };

                        self.load();
                    }

                    ko.applyBindings(new ProfileCommentsViewModel(), document.getElementById("profile-comments"));

                </script>
            }
            else if (Model.Action == "likedposts")
            {
                foreach (var post in Model.Posts)
                {
                    string imagePath = $"https://storage.googleapis.com/youit/{post.Url}/mini.png";
                    string postUrl = "/home/post?=" + post.Url;

                    <a href="@postUrl">
                        <img src="@imagePath" style="float:left; margin-right:15px; margin-bottom:40px;" />
                        <span style="font-size:22px;">@post.Title</span><br />
                        @Html.Raw(post.TextPreview)
                    </a>
                    <div style="clear:both;"></div>
                }
            }
            else if (Model.Action == "editprofile")
            {
                <div id="profile-view" style="position:relative;">
                    <form class="pure-form" asp-controller="Account" asp-action="Edit">
                        <fieldset>
                            <legend>Ваши данные</legend>
                            <p>
                                <input type="text" name="userName" placeholder="@User.Identity.Name" />
                            </p>

                            <p>
                                <button type="submit" class="pure-button pure-button-active">Сохранить</button>
                            </p>
                        </fieldset>
                    </form>
                    <div id="photoBox" style="position:absolute; top:50px; right:0;">
                        <img id="userPhoto" src="@Model.UserPhoto" />
                    </div>
                </div>
            }
        </div>
    }

</div>