@using Web.Utils
@model Tuple<string, string>
        <!-- postId, commentId? -->

<div style="display:grid; grid-template-columns: 1fr 10fr;">
    @{string url = Helper.GetUserPhotoUrl(User); }
    <div class="user-ava"><img src="@url" /></div>
    <div>
        <form class="pure-form">
            @*<input id="username-hidden" type="hidden" value="@User.Identity.Name" />*@
            <textarea id="@Model.Item2-comment-box" class="pure-input-1" placeholder="Комментировать..."></textarea>
            <div class="comment-button" data-bind="click: function() { addComment('@Model.Item1', '@Model.Item2') }" style="float:left; margin-right:15px;">
                Комментировать
            </div>

            @if (!string.IsNullOrEmpty(Model.Item2))
            {
                <div style="font-size:11px; margin-top:9px; font-weight:bold; cursor:pointer;" 
                     data-bind="click: function(){displayAnswerCommentBox('@Model.Item2','@Model.Item2', false, '')  }">Не комментировать</div>
            }
        </form>
    </div>
</div>
